body{
    background: #222;
}
body::-webkit-scrollbar{ width: 0 !important }

div > img{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.container{
    padding: 3px;
    margin: 0 20px 10px 0;
    background: white;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 4fr 3fr 1fr;
    /* grid-template-areas: 
        "h h h h h h h h h h h h"
        "f f f f f f r r r r r r"
        "g g g g v v v v p p p p"
        "t t t t t t t t t t t t"; */
    width: 99vw;
    max-height: 100%;
}

.header{
    grid-column: 1/-1;
    grid-row: 1/2;
    background: #222;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
}
.logo{
    background: #222;;
    grid-column: 1/2;
    grid-row: 1/2;
}
.logo img{
    border: 3px solid #222;
    grid-column: 1/2;
    grid-row: 1/2;
    object-fit: cover;
}
nav{
    grid-column: 5/12;
    grid-row: 1/2;
    background: rgb(0, 0, 0, .8);
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}
nav ul{
    display: flex;
    float: right;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
}
nav ul li a:hover,
nav ul li a.active{
    background: #f00;
}
.form{
    grid-column: 1/7;
    grid-row: 2/3;
    background: #ddd;
}
.results{
    grid-column: 7/13;
    grid-row: 2/3;
    background: #ddd;
}
.goku{
    grid-column: 1/5;
    grid-row: 3/4;
}
.vegeta{
    grid-column: 9/-1;
    grid-row: 3/4;
}
.powering{
    grid-column: 5/9;
    grid-row: 3/4;
    background: #222;
}
.footer{
    grid-column: 1/-1;
    grid-row: 4/5;
    background: #222;
    color: white;
    text-align: center;
}
.footer ul li{
    list-style-type: none;
}

@media screen and (max-width: 500px){
    .container{
    padding: 3px;
    margin: 0 10px 0px 0;
    background: white;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 4fr 2fr 1fr;
    width: 95vw;
    max-height: 100%;
}
.logo{
    display: none;
}
nav{
    grid-column: 11/12;
    grid-row: 1/2;
}
.header{
    grid-column: 1/-1;
    grid-row: 1/2;
}
.form{
   grid-column: 1/-1;
   grid-row: 2/3;
}
.results{
    grid-column: 1/-1;
    grid-row: 3/4;
}
.powering{
    display: none;
}
.vegeta{
    display: none;
}
.goku{
    grid-column: 1/-1;
    grid-row: 4/5;
}
.footer{
    grid-column: 1/-1;
    grid-row: 5/6;
}

}